/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}


@media screen and (max-width: 600px) {
  .gap {
    margin-bottom: 1rem;
  }
}

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}

/* FONT STYLE */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--nomral-font-size);
  color: var(--second-color);
  overflow-x: hidden;

}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0%;
  padding: 0%;
}


/* LAYOUT */
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 2rem;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  
}

.header {

  width: 100%;
  position: fixed;
  
  top: 0;
  left: 0;
  
  z-index: var(--z-fixed);
  background: white;
  color: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  font-family: 'Times New Roman', Times, serif;
  
  letter-spacing: 3px;
  font-weight: lighter;
}

/* Navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  

  
}
 
 .nav-icon{
  position: absolute;
  right: 35px;
  
  font-weight: lighter;

}


@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: var(--second-color);
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  right: 0;
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav_items {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav_link {
    color: var(--second-color);
  }

}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

}

/* main */
/* home */
.front-container {
  margin-top: 50px;
  background-image: url(img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;


}

.Lorem-container {
  background-color: #fc71717a;
  text-align: initial;
  padding: 10px 20px 30px 10px;
  width: 500px;
  height: 200px;
  margin-top: 250px;
  margin-left: 80px;
}

.Lorem-container h1 {
  color: white;
  font-size: 35px;
}

.Lorem-container p {
  color: white;
}
/* mobile devices */
@media screen and (max-width: 600px) {
  .Lorem-container{
    margin-top: 150px;
    margin-left: 10px;
    
  }
}

/* medium sized devices */
@media screen and (max-width: 1024px) {
  .Lorem-container{
    margin-top: 150px;
    margin-left: 5px;
    
  }
}

/* order */
#order {
  height: 80vh;
 
}

.order-container {
  background-image: linear-gradient(to right, #e944a0f8, #ebce14c4);
  padding-top: 50px;

}

.order-container h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 0%;
  
}

.card {
  border: 1px solid white;
  border-radius: 5px 50px 5px 50px;
  width: 250px;
  height: 350px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.card-image img {
  width: 230px;
  height: 230px;
  margin: 5px;
  border-radius: 0px 50px 0px 0px;
}

.card-body {
  margin: 5px;
  padding: 0%;
  font-size: small;
  
}

.card-body h3 {
  text-align: center;
}

.card-body p {
  text-align: center;
  font-weight: 500;
}

.btn-container {
  text-align: center;
  
  padding: 30px;
  

}

.btn {
  border: 0cm;
  border-radius: 30px;
  background-color: #ffffff73;
  color: rgb(28, 27, 27);
  margin: 60px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  
}

/* mobile devices */
@media screen and (max-width: 600px) {
  .card-container{
    display: flex;
    justify-content: center;
    
  }
}

/* medium sized devices */
@media screen and (max-width: 1024px) {
  .card-container{
    display: flex;
    justify-content: center;
    
  }
}
